#syntax: glob
*.bak
#*.csv
card.csv
output.csv
result.csv
search.csv
*.py[cod]
*.so
*.manifest
tmp*
ui_*
EPPI/peptidome/commons/Param.c
*build/
.coverage
build/
dist/
.idea
.hg*
.make.py.swp/
EPPI.egg-info/
deb_dist/
